<!-- 列表组件 step2 -->
<style>
    .m-table{
        width: 100%;
        border: 1px solid #ddd
    }
    .m-table th, .m-table td{
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .m-table th{
        background-color: #ccc;
    }
    .m-listul{
        margin-top: 20px;
        background-color: #66f;
    }
    .m-t_tit{
        text-decoration: underline;
        color: #09f;
    }
    .m-t_btn{
        width: 50%;
        height: 30px;
        line-height: 30px;
        background-color: {{btnColor}}
    }
</style>

<p class="m-t_tit">看到了没，我是{{name}}</p>
<p>{{content}}</p>
<button class="u-btn btn_yellow m-t_btn g-center">点击</button>

<table class="m-table">
    <thead>
        <tr>
            <th>title1</th>
            <th>title2</th>
            <th>title3</th>
            <th>title4</th>
            <th>title5</th>
        </tr>
    </thead>
    <tbody>
        {{r-for="list"}}
        <tr>
            <td>{{value1}}</td>
            <td>{{value2}}</td>
            <td>{{value3}}</td>
            <td>{{value4}}</td>
            <td>{{value5}}</td>
        </tr>
        {{r-end}}
    </tbody>
</table>

<ul class="m-listul">
    {{r-for="ularr"}}
    <li>{{item}}</li>
    {{r-end}}
</ul>

<script type="text/javascript">
    $('.m-t_btn').on('click', function () {
        alert('你点了组件里的按钮，并且content是{{content}}');
    });

    $('.m-listul li, .m-table tr').on('click', function () {
        alert($(this).index());
    })
</script>